/*general style*/

body {
    font-family: Rubik, sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}

main {
    padding-top: 64px;
}

a {
    text-decoration: none;
    padding: 8px;
}

/*navigation bar*/

header {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 10;
}

nav {
    height: 64px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

#logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
}

#logo img {
    height: 50px;
    width: auto;
}

h3 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    opacity: 0.8;
}

.no-bold {
    font-weight: normal;
    opacity: 0.7;
}

#links {
    display: inline-flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    padding-right: 24px;
}

/* Blocks */

.block {
    display: inline-flex;
    margin: 0;
    padding: 32px 0;
    background-color: whitesmoke;
}

.main-info {
    width: 60%;
    padding: 0 24px;
}

.main-info img {
    width: 100%;
}

.main-info video {
    width: 100%;
    margin-bottom: 24px;
}

/*banner*/

#banner {
    background-color: lightgray;
}

#starter {
    padding: 0 12px;
    width: 40%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    opacity: 0.7;
    font-weight: bold;
    padding: 24px 0;
    margin: 10px 0;
}

#starter h4 {
    font-size: 2rem;
    opacity: 0.7;
    margin: 10px 0;
    font-weight: bold;
    padding: 24px 0;
}

#button {
    padding: 10px;
    background-color: dimgray;
    text-align: center;
    font-size: 1.2rem;
}

#button a {
    color: whitesmoke;
}

/* info-block */

h2 {
    font-size: 3rem;
    opacity: 0.7;
    padding-top: 32px;
    padding-bottom: 24px;
    font-weight: bold;
}

p {
    font-size: 1.3rem;
    opacity: 0.7;
}

#practice {
    border-right: 1px solid lightgrey;
}

.other-info {
    width: 40%;
    padding-left: 12px;
}

.info {
    display: inline-flex;
    border-bottom: 1px solid lightgrey;
    padding: 16px;
}

.info h4 {
    font-size: 1.8rem;
    opacity: 0.7;
    font-weight: bold;
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.info p {
    line-height: 1.2rem;
    padding-bottom: 8px;
}

.info a {
    color: blue;
    padding: 0;
}

.info img {
    width: 35%;
    height: auto;
}

.info div {
    width: 65%;
    display: inline-flex;
    flex-direction: column;
    padding: 0 24px;
    line-height: 1.5rem;
}

/*Courses*/

#learn {
    background-color: lightgray;
    text-align: center;
}

.courses {
    padding: 32px 72px;
    background-color: lightgray;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}

.course {
    background-color: whitesmoke;
    width: 400px;
    margin: 0 16px 32px 16px;
    height: 380px;
}

.course img {
    width: 100%;
    height: auto;
}

.course div {
    padding: 16px 16px 32px 16px;
}

.course h4 {
    font-size: 2rem;
    opacity: 0.7;
    font-weight: bold;
    padding-bottom: 16px;
}

.course p {
    margin: 0;
}
.course h6 {
    margin: 8px 0;
}

/* thesis */

#title-thesis {
    background-color: whitesmoke;
    text-align: center;
}

.main-info h4 {
    font-size: 2rem;
    font-weight: bold;
    opacity: 0.7;
    margin-bottom: 8px;
}

/* footer */

footer {
    background-color: whitesmoke;
    border-top: 1px solid lightgrey;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px 0;
}

.mark {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.right {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 24px;
}

.right h6 {
    margin: 0 8px;
    padding: 0;
}

.right a {
    margin: 0;
    padding: 0;
}