/*general style*/

body {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}

main {
    padding-top: 64px;
}

a {
    text-decoration: none;
    padding: 8px;
}

/*navigation bar*/

header {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 10;
}

nav {
    height: 64px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

#logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
}

#logo img {
    height: 50px;
    width: auto;
}

h3 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    opacity: 0.8;
}

.no-bold {
    font-weight: normal;
    opacity: 0.7;
}

#links {
    display: inline-flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    padding-right: 24px;
}

/* Blocks */

.block {
    display: inline-flex;
    margin: 0;
    padding: 32px 24px;
    background-color: whitesmoke;
}

.main-info {
    width: 60%;
}

.main-info img {
    width: 100%;
}

.main-info video {
    width: 100%;
}

/*banner*/

#banner {
    background-color: lightgray;
}

#starter {
    padding: 0 34px;
    width: 40%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    opacity: 0.7;
    font-weight: bold;
    padding: 24px 0;
    margin: 10px 0;
}

h4 {
    font-size: 2rem;
    opacity: 0.7;
    margin: 10px 0;
    font-weight: bold;
    padding: 24px 0;
}

#button {
    padding: 10px;
    background-color: dimgray;
    text-align: center;
    font-size: 1.2rem;
}

#button a {
    color: whitesmoke;
}
